img {
  max-width: 100%;
  height: auto;
}

.carousel__controls {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
}

.carousel__button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 50% / 50%;
  background-color: white;
}

.carousel__button--prev {
  transform: rotate(180deg);
}

.carousel__container {
  display: flex;
  gap: 16px;
  overflow: auto;
  margin: left 24px;
  margin-right: 24px;
  scroll-snap-type: x mandatory;

  .carousel__item {
    flex: 0 0 260px;

    scroll-snap-align: center;
  }

  .carousel__item img {
    display: block;
    width: 100%;
  }